body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
}

#proyectos {
    margin-top: 30px;
}